<main>
  <div class="input-group input-group-lg">

    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" aria-describedby="inputGroup-sizing-sm">
  </div>

  <div *ngIf="loading">
    Loading ....
  </div>
  <div *ngIf="error">
    Error
  </div>
  <div hidden>
    {{launches[0].id}}
  </div>
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th>ID</th>
        <th>Mission name</th>
        <th>Rocket name</th>
        <th>Date</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let launch of launches | search: searchText">
        <td>{{launch.id}}</td>
        <td>{{launch.mission_name}}</td>
        <td>{{launch.rocket.rocket_name}}</td>
        <td>Lanched {{launch.launch_date_utc | relativeTime }}</td>



      </tr>
    </tbody>
  </table>




</main>